
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&display=swap');


html {
  animation: fadein 5s;
  font-size: 100%;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

body {
	font-family: 'IM Fell Double Pica SC', sans-serif;
	background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center
}

header, nav {
  width: 768px;
	display: flex;
	align-items: center;
	padding: 16px 18px;
	background-color: white;
	justify-content: center;
}

header { flex-flow: row nowrap; }

nav {
	flex-flow: row wrap;
	justify-content: space-around;
	border-style: solid none;
	border-width: 1px;
}

main {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: center;
}

h1 {
	flex: 0 0 auto;
	font-size: 4em;
	font-weight: 400;
	margin: 0;
}

p, a, li, label, figcaption {
  display: inline;
	font-size: 1em;
	color: black;
	margin: 0;
	text-decoration: none;
  transition-duration: .5s;
}

#about {
  max-width: 768px;
  text-align: justify;
}
/*FILTER*/

input[type="radio"] {
	display: none;
}

/* filter labels */

.fgroup {
  display: inline;
}

label:hover {
  color: #667788;
}

[value="PHOTO"]:checked ~ nav [for="PHOTO"],
[value="performance"]:checked ~ nav [for="performance"],
[value="portraiture"]:checked ~ nav [for="portraiture"],
[value="abstraction"]:checked ~ nav [for="abstraction"],
[value="VIDEO"]:checked ~ nav [for="VIDEO"],
[value="scripted"]:checked ~ nav [for="scripted"],
[value="unscripted"]:checked ~ nav [for="unscripted"],
[value="music"]:checked ~ nav [for="music"],
[value="about"]:checked ~ nav [for="about"],
[value="contact"]:checked ~ nav [for="contact"]
 {
	color: #7766cc;
}

/*gallery */

figure {
	position: relative;
	margin: 16px;
}

figure img {
	max-height: 75vh;
	max-width: 95%;
	margin: 0;
}

figure figcaption {
  position: absolute;
  max-width: 30em;
  bottom: 0;
  right: 0;
  padding: 1em;
  margin: 1em .5em;
  background-color: #ffffff;
  opacity: 0%;
  transition-duration: 1s;
}

figure:hover figcaption {
	opacity: 100%;
}

figure {
	opacity: 1;
	transition-duration: 1s;

}

[value="init"]:checked ~ main figure:not([data-tag~="init"]),
[value="PHOTO"]:checked ~ main figure:not([data-tag~="PHOTO"]),
[value="performance"]:checked ~ main figure:not([data-tag~="performance"]),
[value="portraiture"]:checked ~ main figure:not([data-tag~="portraiture"]),
[value="abstraction"]:checked ~ main figure:not([data-tag~="abstraction"]),
[value="VIDEO"]:checked ~ main figure:not([data-tag~="VIDEO"]),
[value="scripted"]:checked ~ main figure:not([data-tag~="scripted"]),
[value="unscripted"]:checked ~ main figure:not([data-tag~="unscripted"]),
[value="music"]:checked ~ main figure:not([data-tag~="music"]),
[value="about"]:checked ~ main figure:not([data-tag~="about"]),
[value="contact"]:checked ~ main figure:not([data-tag~="contact"]){
	display: none;
}


/* contact */

form {
  width: 640px;
  display: flex;
  flex-flow: column nowrap;
}

input, textarea{
  font-family: 'IM Fell English', sans-serif;
  font-size: 1em;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid black;
}

textarea {
  resize: vertical;
}

::placeholder {
	font-family: 'IM Fell Double Pica SC', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

/* narrow screen */

@media screen and (max-width: 800px) {
header {
  width: 95%;
	flex-flow: row wrap;
	justify-content: center;}

nav {
  width: 95%;
  flex-flow: column nowrap;
}

form {
  width: 100%;
}

#split { display: none; }

figure img { max-height: 80vh; }
}
