
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&display=swap');


html {
  animation: fadein 5s;
  font-size: 100%;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

body {
  z-index: 0;
	font-family: 'IM Fell Double Pica SC', sans-serif;
	background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center
}

header, nav {
  width: 768px;
	display: flex;
	align-items: center;
	padding: 16px 18px;
	background-color: white;
	justify-content: center;
}

header { flex-flow: row nowrap; }

nav {
	flex-flow: row wrap;
	justify-content: space-evenly;
	border-style: solid none;
	border-width: 1px;
}

main {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: center;
  align-items: center;
}

footer {
  width: 512px;
  display: block;
  text-align: center;
}
h1 {
	flex: 0 0 auto;
	font-size: 4em;
	font-weight: 400;
	margin: 0;
}

p, a, li, label, figcaption {
  display: inline;
	font-size: 1em;
	color: black;
	margin: 0;
	text-decoration: none;
  transition-duration: .5s;
}

#about {
  max-width: 768px;
  text-align: justify;
  font-family: 'IM Fell English', sans-serif;
  font-size: 1.1em;
}

/*FILTER*/

input[type="radio"] {
	display: none;
}

/* filter labels */
.navblock {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

hr {  width:0;}

label:hover {
  color: #667788;
}

[value="PHOTO"]:checked ~ nav [for="PHOTO"],
[value="VIDEO"]:checked ~ nav [for="VIDEO"],
[value="red"]:checked ~ nav [for="red"],
[value="yellow"]:checked ~ nav [for="yellow"],
[value="green"]:checked ~ nav [for="green"],
[value="blue"]:checked ~ nav [for="blue"],
[value="purple"]:checked ~ nav [for="purple"],
[value="about"]:checked ~ nav [for="about"],
[value="contact"]:checked ~ nav [for="contact"]
 {
	color: #7766cc;
}


[value="red"]:checked ~ nav [for="red"] {color: #ff0000;}
[value="yellow"]:checked ~ nav [for="yellow"] {color: #ffff00;}
[value="green"]:checked ~ nav [for="green"] {color: #00FF00;}
[value="blue"]:checked ~ nav [for="blue"] {color: #0000ff;}
[value="purple"]:checked ~ nav [for="purple"] {color: #ff00ff;}

/*gallery */

figure {
  position: relative;
	margin: 16px;
}

figure img, video {
	max-height: 80vh;
	max-width: 90vw;
	margin: 0;


}

figure figcaption {
  position: absolute;
  max-width: 33em;
  bottom: 0;
  right: 0;
  padding: 1em;
  margin: 1em .5em;
  background-color: #ffffff;
  opacity: 0%;
  transition-duration: 1s;
  text-align: left;
}

figure:not(.nozoom):hover {
  /* cursor: zoom-in; */
  & figcaption {
    opacity: 100%;
  }
}
/*
figure:not(.nozoom):active {
  cursor: none;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);

  & img, video {
    max-height: 90vh;
  }
}


figure:not(.nozoom):active ~ #hider {
  display: block;
}
*/
#hider {
  z-index: 1;
    width: 100%;
    height: 100vh;
  display: none;
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;
}

[value="init"]:checked ~ main figure:not([data-tag~="init"]),
[value="PHOTO"]:checked ~ main figure:not([data-tag~="PHOTO"]),
[value="VIDEO"]:checked ~ main figure:not([data-tag~="VIDEO"]),
[value="red"]:checked ~ main figure:not([data-tag~="red"]),
[value="yellow"]:checked ~ main figure:not([data-tag~="yellow"]),
[value="green"]:checked ~ main figure:not([data-tag~="green"]),
[value="blue"]:checked ~ main figure:not([data-tag~="blue"]),
[value="purple"]:checked ~ main figure:not([data-tag~="purple"]),
[value="about"]:checked ~ main figure:not([data-tag~="about"]),
[value="contact"]:checked ~ main figure:not([data-tag~="contact"]){
	display: none;
}


/* contact */

form {
  width: 768px;
  display: flex;
  flex-flow: column nowrap;
}

input, textarea{
  font-family: 'IM Fell English', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid black;
}

textarea {
  resize: vertical;
}

::placeholder {
	font-family: 'IM Fell Double Pica SC', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

/* narrow screen */

@media screen and (max-width: 800px) {
header {
  width: 95%;
	flex-flow: row wrap;
	justify-content: center;}

nav {
  width: 95%;
  flex-flow: column nowrap;
}

footer {
  width: 95%;
}

form {
  width: 100%;
}

#split { display: none; }

figure { margin: 8px; }

figure img, video { max-height: 80vh; }

}

