html {
  animation: fadein .5s;
  font-size: 100%;
  cursor: crosshair;
}

body {
  padding: 5% 15%;
  font-size: 1rem;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p, a, b, i {
  font-family: arial;
  font-weight: 200;
  letter-spacing: 1px;
  color: dimgrey;
  padding-bottom: 2.5%;
  line-height: 1.5;
  margin: 0;
  cursor: crosshair;
}


header {
  width:100%;
  height: auto;
  padding-bottom: 5%;
  overflow: auto;
}
header * {
  display: inline;
}

main {
  clear:both;
  text-align: center;
  display:block;
}

main * {
  display: block;
}

footer {
  padding: 2.5% 0%;
}

footer * {
  display: inline;
}

.frame {
  transition: 1s;
  margin-bottom: 2.5%;
  text-align: center;
  vertical-align: middle;

}

.frame:hover {
transition: 0.5s;

}

.frame img {
  width: 100%;
  filter: grayscale(1);
  transition: filter 5s;
  padding-bottom: 0%;

}

.frame img:hover {
  filter: grayscale(0);
  transition: filter 1s;
}

img {
  width: 100%;
  padding-bottom: 2.5%;

}

/* a */
a::before {
  color: dimgrey;
}
a {
  text-decoration: none;
  color: dimgrey;
  transition: color .1s;
}

a:hover {
  color:black;
  animation: rainbow .25s steps(1);
}

a:active {
  color:white;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.credits {
  display: inline-block;
  text-align: left;
}


.alignleft {
  float:left;
  text-align: left;
}


.alignright {
  float:right;
  text-align: right;
}

.inlinecontent {
  padding-bottom: 2.5%;
}
.inlinecontent * {
  width: 100%;
  display: inline;
}

/* KEYFRAMES */

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}

}

@keyframes growin {
  from {transform: scale(.9);}
  to {transform: scale(1);}
}

@keyframes rainbow {
  0% {color: red;}
  33.3% {color: lime;}
  66.6% {color: blue;}
  100% {color: black;}
}

/* PHONES/SQUISHnSCRUNCH */

@media screen and (any-hover:none), (pointer: coarse) {

  .frame img {
    filter: grayscale(0);
  }

}

@media screen and (orientation: portrait) {

  body {
    padding: 2.5% 5%;
    font-size: 90%;
  }

  #header * {
    display: block;
  }

  #footer * {
    display: block;
  }


}


  .vimeobox {
  	position: relative;
  	height: 0;
  	overflow: hidden;
  /*	padding-bottom: 60%; */
    margin-bottom: 2.5%;
  	opacity: 1

  }

  .vimeobox iframe {
  	position: absolute;
  	top:0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	padding: 0em;
    border-width: 0px;
  }
